NET "led_r<1>" LOC = P51 | IOSTANDARD = LVTTL;
NET "led_r<0>" LOC = P50 | IOSTANDARD = LVTTL;
NET "led_g<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "led_g<0>" LOC = P40 | IOSTANDARD = LVTTL;
NET "led_b<1>" LOC = P35 | IOSTANDARD = LVTTL;
NET "led_b<0>" LOC = P34 | IOSTANDARD = LVTTL;
NET "led_addr<3>" LOC = P33 | IOSTANDARD = LVTTL;
NET "led_addr<2>" LOC = P32 | IOSTANDARD = LVTTL;
NET "led_addr<1>" LOC = P30 | IOSTANDARD = LVTTL;
NET "led_addr<0>" LOC = P29 | IOSTANDARD = LVTTL;
NET "led_clk" LOC = P27 | IOSTANDARD = LVTTL;
NET "led_lat" LOC = P26 | IOSTANDARD = LVTTL;
NET "led_blk" LOC = P24 | IOSTANDARD = LVTTL;